#tela-3 {
    width: 100vw;
    display: none;
    flex-direction: column;
    align-items: center;

    
}

#tela-3 > .form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tela-3 > .form > div > label {
    font-size: 18px;
}

#tela-3 > .form > div > input {

    width: 100%;
    padding: 8px;
}

#tela-3 > .form > div {

    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-widht: 480px) {
    #tela-3 > .form > input{
        width: 100%;
    }
}